{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body%}
    <div class="box">
        <div class="container">
            <h3>Welcome, {{ user.first_name }}!</h3></br>
        </div>
        <div class="container">
            <form action="{{ url_for('search') }}" method="GET">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control" name="txtsearch" placeholder="Search Here">
                    </div>
                    <div class="col-3">
                        <select name="category" class="form-control">
                            <option value="title">Title</option>
                            <option value="author">Author</option>
                            <option value="isbn">ISBN</option>
                            <option value="year">Year</option>
                        </select>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}